@import "../../../../styles/abstracts/mixins";

main {
  @include break(xsmall) {
    flex-direction: column;
  }

  display: flex;
}
.content {
  @include break(xsmall) {
    order: 1;
  }
  width: 100%;
  padding: 2rem 3rem;
}
