<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<h1 class="heading text-center">Hi, <strong>{{name}}</strong>, this is your Admin Dashboard</h1>
<div class="tabs">

  <input type="radio" id="tab1" name="tab-control" checked>
  <input type="radio" id="tab2" name="tab-control">
  <input type="radio" id="tab3" name="tab-control">
  <input type="radio" id="tab4" name="tab-control">
  <ul>
    <li title="BIO forms"><label for="tab1" role="button"><svg viewBox="0 0 24 24"><path d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z"/>
</svg><br><span>BIO forms</span></label></li>
    <li title="ITS forms"><label for="tab2" role="button"><svg viewBox="0 0 24 24"><path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
</svg><br><span>ITS forms</span></label></li>
    <li title="Vacancies"><label for="tab3" role="button"><svg viewBox="0 0 24 24">
    <path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
</svg><br><span>Vacancies</span></label></li>
  </ul>

  <div class="slider"><div class="indicator"></div></div>
  <div class="content">
    <section class="text-center" style="font-size: 1.5rem;">
      <div class="text-center text-dark"style="font-size: 2rem"><strong>Total submitted forms: {{number}}</strong></div>
      <app-search
  (termEvent)="handleTerm($event)"
  placeholder="Search by name or occupation"
  styles="marginTop: 40px !important; "
></app-search>
<div class="table-responsive " style="margin-top: 25px;">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Title</th>
              <th>Last Name</th>
              <th>Institution</th>
              <th>Faculty</th>
              <th>position</th>
              <th>Phone</th>
              <th>Email</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let post of bioforms; let i=index; ">
            <td>{{post.title}}</td>
              <td>{{post.lname}}</td>
              <td>{{post.institution}}</td>
              <td>{{post.faculty}}</td>
              <td>{{post.position}}</td>
              <td title="{{post.phone}}">
                  <p class="lineText">{{post.phone}}</p>
              </td>
              <td>{{post.email}}</td>
             
              <td style="min-width: 130px;">
                  <div class="btn-group btn-group-sm">
                      <a [routerLink]="['/admin/post',post._id]" type="button" class="btn btn-primary">View</a>
                      <a [routerLink]="['/admin/post',post._id]" type="button" class="btn btn-primary">Approve</a>
                      <a type="button" (click)="deletePost(post._id)" class="btn btn-danger">Delete</a>
                  </div>
              </td>
          </tr>
          <tr *ngIf="!bioforms" colspan=8 class="text-center">
              <td colspan=8>Loading</td>
          </tr>
          <tr *ngIf="data && data.length==0" class="text-center">
              <td colspan=8>No post available</td>
          </tr>
      </tbody>
  </table>
</div>
    <!-- <button class="btn btn-block click_button" (click)="redirectToBio()">Fill in form</button> -->
    </section>
        <section class="text-center" style="font-size: 1.5rem;">
          <div class="text-center text-dark"style="font-size: 2rem"><strong>Total submitted forms: {{total}}</strong></div>
          <app-search
      (termEvent)="handleTerm($event)"
      placeholder="Search by name or occupation"
      styles="marginTop: 40px !important; "
    ></app-search>
    <div class="table-responsive " style="margin-top: 25px;">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Department</th>
                  <th>Personnel Number</th>
                  <th>Phone</th>
                  <th>Email</th>
    
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let post of itsforms; let i=index; ">
                <td>{{post.title}}</td>
                <td>{{post.lname}}</td>
                <td>{{post.fname}}</td>
                <td>{{post.department}}</td>
                <td>{{post.personnel_number}}</td>
                  <td title="{{post.phone}}">
                      <p class="lineText">{{post.phone}}</p>
                  </td>
                  <td>{{post.email}}</td>
                 
                  <td style="min-width: 130px;">
                      <div class="btn-group btn-group-sm">
                          <a [routerLink]="['/admin/post',post._id]" type="button" class="btn btn-primary">View</a>
                          <a [routerLink]="['/admin/post',post._id]" type="button" class="btn btn-primary">Approve</a>
                          <a type="button" (click)="deletePost(post._id)" class="btn btn-danger">Delete</a>
                      </div>
                  </td>
              </tr>
              <tr *ngIf="!itsforms" colspan=8 class="text-center">
                  <td colspan=8>Loading</td>
              </tr>
              <tr *ngIf="data && data.length==0" class="text-center">
                  <td colspan=8>No post available</td>
              </tr>
          </tbody>
      </table>
    </div>
            <!-- <button class="btn btn-block click_button" (click)="redirectToITS()">Add Business</button> -->
        </section>

      <section class="text-center" style="font-size: 1.5rem;">
        Create and publish a new job vacancy by clicking the button below and fill in the job details.
          <a class="btn btn-block click_button" href="#new_vacancy" rel="modal:open" target="_blank">Create Vacancy</a>

          
      </section>
  </div>
</div>

<!-- <div id="new_vacancy" class="modal" style="overflow:visible;">
  <div class="">
    <div *ngIf="isSent && !isLoading" class="contact-form">
      <h5>Job vacancy uploaded successfully!</h5>
    </div>
    <div *ngIf="isLoading" class="loading__container">
      <div class="loading-blob"></div>
      <div class="loading-text">
        {{ loadingText }}
      </div>
    </div>
  <div *ngIf="!isSent" class="contact-form">
  <p class="text-center text-muted">Please fill in the following details to post a job vacancy;</p>
  <div class="contact-section__container">
    <div class="contact-left__container">
      <form
        class="form__container"
        [formGroup]="vacancyForm"
       
      >
      <div class="form-input__container">
        <input id="company" type="text" formControlName="company" />
        <label for="company">Company</label>
        <div
          *ngIf="validated && vacancyForm.controls['company'].invalid"
          class="validation-message"
        >
          <div *ngIf="!vacancyForm.controls['company'].valid">
            Please enter a company name
          </div>
        </div>
      </div>
        <div class="form-input__container">
          <input id="position" type="text" formControlName="position" />
          <label for="position">Position</label>
          <div
            *ngIf="validated && vacancyForm.controls['position'].invalid"
            class="validation-message"
          >
            <div *ngIf="!vacancyForm.controls['position'].valid">
              Please enter a position title
            </div>
          </div>
        </div>

        <div class="form-input__container">
          <input
            id="department"
            type="textarea"
            formControlName="department"
          />
          <label for="department">Department</label>
          <div
            *ngIf="validated && vacancyForm.controls['department'].invalid"
            class="validation-message"
          >
            <div *ngIf="!vacancyForm.controls['department'].valid">
              Please enter the department
            </div>
          </div>
        </div>
        <div class="form-input__container">
          <input
            id="grade"
            type="textarea"
            formControlName="grade"
          />
          <label for="grade">Grade</label>
          <div
            *ngIf="validated && vacancyForm.controls['grade'].invalid"
            class="validation-message"
          >
            <div *ngIf="!vacancyForm.controls['grade'].valid">
              Please enter the grade
            </div>
          </div>
        </div>
        <div class="form-input__container">
          <input
            id="area"
            type="textarea"
            formControlName="area"
          />
          <label for="area">Area/Location</label>
          <div
            *ngIf="validated && vacancyForm.controls['area'].invalid"
            class="validation-message"
          >
            <div *ngIf="!vacancyForm.controls['area'].valid">
              Please enter area or location where the job is available
            </div>
          </div>
        </div>
        <div class="form-input__container">
          <textarea
            id="requirements"
            type="textarea"
            formControlName="requirements"
            rows="3"
          >
          </textarea>
          <label for="requirements">Requirements</label>
          <div
            *ngIf="validated && vacancyForm.controls['requirements'].invalid"
            class="validation-message"
          >
            <div *ngIf="!vacancyForm.controls['requirements'].valid">
              Please enter the minimum requirements
            </div>
          </div>
        </div>
        <div class="form-input__container">
          <input
            id="closing_date"
            type="date"
            formControlName="closing_date"
          />
          <label for="closing_date">Closing Date</label>
          <div
            *ngIf="validated && vacancyForm.controls['closing_date'].invalid"
            class="validation-message"
          >
            <div *ngIf="!vacancyForm.controls['closing_date'].valid">
              Please enter the closing date
            </div>
          </div>
          </div>

        <button class="my-btn bt" type="submit" >Submit</button>
      </form>
    </div>
    <div *ngIf="false" class="contact-right__container">
      <div class="mail__container">
        <div class="mail-lid__container">
          <div class="mail-lid"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div> -->

