@import "../../../../styles/abstracts/mixins";

:host {
  @include break(medium) {
    flex-basis: 25%;
  }
  @include break(small) {
    flex-basis: 8rem;
  }
  @include break(xsmall) {
    order: 2;
  }
  flex: 0 0 21%;
}

.navbar__logo {
    top: 10% !important;
}

.navbar {
  @include break(xsmall) {
    height: auto;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  top: 7%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: #fff;

  &__wrapper {
    @include break(xsmall) {
      flex-direction: row;
      width: auto;
      justify-content: center;
      margin: 1rem 0;
      margin-left: 3rem;
    }
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    @include break(small) {
      display: none;
    }

    font-size: 2.4rem;
    &,
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--foreground);
    }

    &--small {
      display: none;

      @include break(small) {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--foreground);
        font-size: 2.4rem;
      }
      @include break(xsmall) {
        margin-right: 1.5rem;
      }
    }
  }
  &__list {
    @include break(xsmall) {
      flex-direction: row;
      margin-top: 0;
    }
    margin-top: 6rem;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list-item-wrapper {
    @include break(xsmall) {
      display: flex;
      flex-direction: row;
    }
  }

  &__list-item {
    @include break(small) {
      justify-content: center;
    }
    @include break(xsmall) {
      margin: 0 1.5rem;
    }

    display: flex;
    align-items: center;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    & > svg {
      @include break(small) {
        margin-right: 0;
      }
      @include break(xsmall) {
        flex: 0 0 2.5rem;
      }
      margin-right: 1.5rem;
      flex: 0 0 2rem;

      & > path {
        fill: var(--color-white);
      }
    }

    &:not(:first-child) {
      @include break(xsmall) {
        margin-top: 0;
      }
      margin-top: 1.5rem;
    }

    &--active {
      @include break(small) {
        margin-left: 0;
      }
      transition: background-color ease-in-out 0.3s;
      background-color: var(--color-orange-5);
      padding: 0.5rem 1rem;
      border-radius: var(--border-radius);
      margin-left: -2rem;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      @include break(small) {
        display: none;
      }
      text-decoration: none;
      font-size: 2rem;
      color: var(--foreground);
      transition: color ease-in-out 0.3s;
    }
  }
  &__logout {
    @include break(xsmall) {
      margin: 0 1.5rem;
      width: auto;
    }
    padding: 8rem 1.7rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
    border-radius: var(--border-radius);
    margin-left: -7rem;

    &:hover {
      @include break(small) {
        background-color: transparent;
      }
      cursor: pointer;

      color: var(--color-orange-5);
    }

    & > svg {
      & > * {
        fill: var(--color-white);
      }
      @include break(small) {
        margin-right: 0;
      }
      @include break(xsmall) {
        width: 2.5rem;
        height: 2.5rem;

        & > * {
          fill: var(--color-red);
        }
      }
      margin-right: 1.5rem;
      width: 2rem;
      height: 2rem;
    }
  }
  &__logout-link {
    @include break(small) {
      display: none;
    }
  }
}

.about-me {
  &__form {
    @include break(large) {
      width: 40%;
    }
    @include break(medium) {
      width: 50%;
    }
    @include break(small) {
      width: 80%;
    }
    @include break(xsmall) {
      width: 100%;
    }
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5rem auto 0 auto;

    &--invalid {
      text-align: center;
    }
  }
  &__form-group {
    &:not(:last-child) {
      width: 100%;
      border-radius: var(--border-radius);
      border: 2px solid var(--foreground-light);
      margin: 1rem 0;
      overflow: hidden;

      &:focus-within {
        border: double 2px transparent;
        background-image: linear-gradient(var(--background), var(--background)),
        var(--gradient);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
    }
    &:last-child {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2rem;
    }

    &--invalid {
      border: 2px solid #e93f4d !important;
    }
    &--valid {
      border: double 2px transparent !important;
      background-image: linear-gradient(var(--background), var(--background)),
      var(--gradient) !important;
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
  }
  &__form-input {
    @include break(small) {
      font-size: 1.6rem;
    }
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0.1rem 2rem;
    margin: 1rem 0;
    font-size: 1.3rem;
    font-family: inherit;
    position: relative;
    color: var(--foreground);

    &:focus {
      outline: none;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--foreground) !important;
  }

  &__form-btn {
    @include break(small) {
      font-size: 1.6rem;
      padding: 1rem 2rem !important;
    }
    background: var(--gradient);
    border: none;
    font-size: 1.4rem;
    width: 70%;
    padding: 0.7rem 7rem !important;
    display: flex;
    justify-content: center;

    @media (prefers-color-scheme: light) {
      color: var(--background);
    }

    &:disabled {
      background: var(--foreground-light) !important;
    }

    &:focus {
      outline: none;
    }

    &--hoverable {
      transition: transform 0.3s ease-in-out;
      transition-delay: 0.1s;
      &:hover:enabled {
        cursor: pointer;
        transform: translateY(-0.3rem);
      }
    }
    &--loading {
      background-size: 400% 400%;
      animation: loading 3s ease infinite;
    }

    & > span {
      display: block;
      padding: 0.6rem 0;
    }
  }
}
.ql-toolbar .ql-snow {
  border-radius: var(--border-radius);
}

