//defining the global colors

// numbers correspond to brightness of the color, -1 being the brightest one

:root {
  --color-primary: #1b2b5d;
  --color-primary-blue: #1b2b5d;
  --color-primary-gradient: linear-gradient(to right, #F8A931, #ED7123);
  --color-primary-brown: #312922; //need to confirm this
  --color-grey: #97999B;
  --color-black-1: #000000;
  --color-black-2: #2c2c2c;
  --color-white: #fff;
  --color-blue: #09779a;
  --color-red: #f80a0a;
  --color-orange: #e878225b;
  --color-orange-2: #e8782291;
  --color-orange-3: #0000;
  --color-orange-4: #e87822d7;
  --color-orange-5: #E87722;
  --color-grey-dark-1: #6f6f6f;

}

