<div class="container-fluid bg-lightest">

    <!-- <div *ngIf="showSnackbar">
        <app-messagebar [message]="message"></app-messagebar>
    </div> -->
  
    <div class="row">
  
        <div class="col col-12 col-lg-7 col-xl-8 justify-content-center text-center form">
            <div class="mt-4">
                <h1 class="f6 text-secondary text-center" style="margin-top: 3rem">
                    <a >
                    </a> &nbsp;EMPLOYEE BIOGRAPHICAL INFORMATION/DATA
                </h1>
  
                <!--Create Profile Form-->
                <form [formGroup]="createForm" (ngSubmit)="onSubmit($event)" class="text-left mt-4 offset-override">
  
                    <!--Form Errors-->
                    
                    <app-error-message [obs]="errorMessage"></app-error-message>
                    <small style="margin-top: 50px; color: #fcb017;">EMPLOYEE DETAILS</small>
                     <!--Personnel number-->
                     <div class="form-group mb-3">
                        <label for="personnel_number" class="text-secondary">Personnel Number <span class="text-danger">*</span></label>
                        <input type="text" name="personnel_number" required formControlName="personnel_number" class="form-control primary-border"
                            [ngClass]="{ 'is-invalid': submitted && f?.personnel_number?.errors, 'danger-border': submitted && f?.personnel_number?.errors }">
  
                        <div *ngIf="submitted && f?.personnel_number?.errors" class="invalid-feedback">
                            <div *ngIf="f?.personnel_number?.errors?.required">Personnel Number is required.</div>
                            <div *ngIf="f?.personnel_number?.errors?.pattern">Enter a valid input.</div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-12 col-sm-6 col-md-6">
                        
                        <!--First Name-->
                        <div class="form-group mb-3">
                            <label for="fname" class="text-secondary">First Name(s) <span class="text-danger">*</span></label>
                            <input type="text" required class="form-control primary-border" id="company_name" name="fname"
                            formControlName="fname" maxlength="30"
                            [ngClass]="{ 'is-invalid': submitted && f?.fname?.errors, 'danger-border': submitted && f?.fname?.errors }">
  
                            <div *ngIf="submitted && f?.fname?.errors" class="invalid-feedback">
                                <div *ngIf="f?.fname?.errors?.required">First Name(s is required.</div>
                                <div *ngIf="f?.fname?.errors?.pattern">Enter a valid first name.</div>
                            </div>
                            </div>
                        </div>

 
                        <!--Last name-->
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group mb-3">
                                <label for="lname" class="text-secondary">Last Name <span class="text-danger">*</span></label>
                                <input type="text" required class="form-control primary-border" id="lname" name="lname"
                                formControlName="lname" maxlength="30"
                                [ngClass]="{ 'is-invalid': submitted && f?.lname?.errors, 'danger-border': submitted && f?.lname?.errors }">
                             
                                <div *ngIf="submitted && f?.lname?.errors" class="invalid-feedback">
                                    <div *ngIf="f?.lname?.errors?.required">Last Name is required.</div>
                                    <div *ngIf="f?.lname?.errors?.pattern">Enter a valid Last Name.</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group mb-3" >
                        <label for="title" class="text-secondary">Select Title <span class="text-danger">*</span></label>
                        <div>
                          <input style="color: #1b2b5d !important;" id="dr" type="radio" value="Dr" name="title" formControlName="title">
                          &nbsp;&nbsp;<label for="dr">Dr.</label>
                       </div>
              
                       <div>
                          <input style="color: #1b2b5d;" id="prof" type="radio" value="Prof" name="title" formControlName="title">
                          &nbsp;&nbsp;<label for="prof">Prof</label>
                       </div>
                       <div>
                          <input id="mr" type="radio" value="Mr" name="title" formControlName="title">
                          &nbsp;&nbsp;<label for="mr">Mr</label>
                       </div>
              
                       <div>
                          <input id="mrs" type="radio" value="Mrs" name="title" formControlName="title">
                          &nbsp;&nbsp;<label for="mrs">Mrs</label>
                       </div>
                       <div>
                        <input id="ms" type="radio" value="Ms" name="title" formControlName="title">
                        &nbsp;&nbsp;<label for="ms">Ms</label>
                     </div>
                          
                        <!-- <div *ngIf="f.title?.touched && f.title?.invalid" class="alert alert-danger">
                            <div *ngIf="f.title?.errors.required">Name is required.</div>
                        </div> -->
                    </div>
  
                   
                 <!--Faculty-->
                 <div class="form-group mb-3">
                    <label for="faculty" class="text-secondary">Faculty <span class="text-danger">*</span></label>
                    <input type="text" name="faculty" required formControlName="faculty" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.faculty?.errors, 'danger-border': submitted && f?.faculty?.errors }">

                    <div *ngIf="submitted && f?.faculty?.errors" class="invalid-feedback">
                        <div *ngIf="f?.faculty?.errors?.required">Faculty is required.</div>
                        <div *ngIf="f?.faculty?.errors?.pattern">Enter a valid faculty name.</div>
                    </div>
                </div>

                 <!--Position-->
                 <div class="form-group mb-3">
                    <label for="position" class="text-secondary">Position <span class="text-danger">*</span></label>
                    <input type="text" name="position" required formControlName="position" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.position?.errors, 'danger-border': submitted && f?.position?.errors }">

                    <div *ngIf="submitted && f?.position?.errors" class="invalid-feedback">
                        <div *ngIf="f?.position?.errors?.required">Position is required.</div>
                        <div *ngIf="f?.position?.errors?.pattern">Enter a valid position.</div>
                    </div>
                </div>

                 <!--Department-->
                 <div class="form-group mb-3">
                    <label for="department" class="text-secondary">Address <span class="text-danger">*</span></label>
                    <input type="text" name="school" required formControlName="department" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.department?.errors, 'danger-border': submitted && f?.department?.errors }">

                    <div *ngIf="submitted && f?.department?.errors" class="invalid-feedback">
                        <div *ngIf="f?.department?.errors?.required">Department is required.</div>
                        <div *ngIf="f?.department?.errors?.pattern">Enter a valid input.</div>
                    </div>
                </div>

                 <!--Postal Address-->
                 <div class="form-group mb-3">
                    <label for="postal_address" class="text-secondary">Postal Address <span class="text-danger">*</span></label>
                    <input type="text" name="school" required formControlName="postal_address" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.postal_address?.errors, 'danger-border': submitted && f?.postal_address?.errors }">

                    <div *ngIf="submitted && f?.postal_address?.errors" class="invalid-feedback">
                        <div *ngIf="f?.postal_address?.errors?.required">Field of address is required.</div>
                        <div *ngIf="f?.postal_address?.errors?.pattern">Enter a valid input.</div>
                    </div>
                </div>

                 <!--Address-->
                 <div class="form-group mb-3">
                    <label for="address" class="text-secondary">Residential Address <span class="text-danger">*</span></label>
                    <input type="text" name="school" required formControlName="address" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.address?.errors, 'danger-border': submitted && f?.address?.errors }">

                    <div *ngIf="submitted && f?.address?.errors" class="invalid-feedback">
                        <div *ngIf="f?.address?.errors?.required">Field of address is required.</div>
                        <div *ngIf="f?.address?.errors?.pattern">Enter a valid input.</div>
                    </div>
                </div>
                
                <!--email-->
                <div class="form-group mb-3">
                  <label for="email" class="text-secondary">Email <span class="text-danger">*</span></label>
                  <input type="text" name="email" required formControlName="email" class="form-control primary-border"
                      [ngClass]="{ 'is-invalid': submitted && f?.email?.errors, 'danger-border': submitted && f?.email?.errors }">
  
                  <div *ngIf="submitted && f?.email?.errors" class="invalid-feedback">
                      <div *ngIf="f?.email?.errors?.required">Email is required.</div>
                      <div *ngIf="f?.email?.errors?.pattern">Enter a valid email address.</div>
                  </div>
              </div>
              <!--Telephone (work)-->
              <div class="form-group mb-3">
                <label for="work_phone" class="text-secondary">Telephone (work) <span class="text-danger">*</span></label>
                <input type="text" name="work_phone" required formControlName="work_phone" class="form-control primary-border"
                    [ngClass]="{ 'is-invalid': submitted && f?.work_phone?.errors, 'danger-border': submitted && f?.work_phone?.errors }">
  
                <div *ngIf="submitted && f?.work_phone?.errors" class="invalid-feedback">
                    <div *ngIf="f?.work_phone?.errors?.required">Work Telephone is required.</div>
                    <div *ngIf="f?.work_phone?.errors?.minlength">Work Telephone be more than 8 characters.</div>
                </div>
            </div>
            <!--Telephone (home)-->
            <div class="form-group mb-3">
              <label for="phone_home" class="text-secondary">Telephone (home) <span class="text-danger">*</span></label>
              <input type="text" name="phone_home" required formControlName="phone_home" class="form-control primary-border"
                  [ngClass]="{ 'is-invalid': submitted && f?.phone_home?.errors, 'danger-border': submitted && f?.phone_home?.errors }">
  
              <div *ngIf="submitted && f?.phone_home?.errors" class="invalid-feedback">
                  <div *ngIf="f?.phone_home?.errors?.required">Enter a valid phone number.</div>
  
              </div>
          </div>
          
  
                  <!--phone-->
                  <div class="form-group mb-3">
                    <label for="phone" class="text-secondary">Cellphone Number <span class="text-danger">*</span></label>
                    <input type="text" name="phone" required formControlName="phone" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.phone?.errors, 'danger-border': submitted && f?.phone?.errors }">
  
                    <div *ngIf="submitted && f?.phone?.errors" class="invalid-feedback">
                        <div *ngIf="f?.phone?.errors?.required">Phone number is required.</div>
                        <div *ngIf="f?.phone?.errors?.pattern">Enter a valid phone number.</div>
                    </div>
                </div>

                  <!--Next of Kin-->
                  <div class="form-group mb-3">
                    <label for="next_of_kin" class="text-secondary">Name of Next of Kin <span class="text-danger">*</span></label>
                    <input type="text" name="next_of_kin" required formControlName="next_of_kin" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.next_of_kin?.errors, 'danger-border': submitted && f?.next_of_kin?.errors }">
  
                    <div *ngIf="submitted && f?.next_of_kin?.errors" class="invalid-feedback">
                        <div *ngIf="f?.next_of_kin?.errors?.required">Name of next of kin is required.</div>
                    </div>
                </div>

                
  
                  <!--phone next of kin-->
                  <div class="form-group mb-3">
                    <label for="next_of_kin_phone" class="text-secondary">Telephone Number of Next of Kin <span class="text-danger">*</span></label>
                    <input type="text" name="next_of_kin_phone" required formControlName="next_of_kin_phone" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.next_of_kin_phone?.errors, 'danger-border': submitted && f?.next_of_kin_phone?.errors }">
  
                    <div *ngIf="submitted && f?.next_of_kin_phone?.errors" class="invalid-feedback">
                        <div *ngIf="f?.next_of_kin_phone?.errors?.required">Phone number is required.</div>
                        <div *ngIf="f?.next_of_kin_phone?.errors?.pattern">Enter a valid phone number.</div>
                    </div>
                </div>

                <small style="margin-top: 50px; color: #fcb017;" >QUALIFICATIONS</small>
                
                <!--Highest Qualification-->
                <div class="form-group mb-3">
                    <label for="qualification" class="text-secondary">Highest Qualification <span class="text-danger">*</span></label>
                    <input type="text" name="work_phone" required formControlName="qualification" class="form-control primary-border"
                        [ngClass]="{ 'is-invalid': submitted && f?.qualification?.errors, 'danger-border': submitted && f?.qualification?.errors }">

                    <div *ngIf="submitted && f?.qualification?.errors" class="invalid-feedback">
                        <div *ngIf="f?.qualification?.errors?.required">Highest Qualification is required.</div>
                    </div>
                </div>

                <!--Institution-->
                <div class="form-group mb-3">
                <label for="institution" class="text-secondary">Institution<span class="text-danger">*</span></label>
                <input type="text" name="institution" required formControlName="institution" class="form-control primary-border"
                    [ngClass]="{ 'is-invalid': submitted && f?.institution?.errors, 'danger-border': submitted && f?.institution?.errors }">

                <div *ngIf="submitted && f?.institution?.errors" class="invalid-feedback">
                    <div *ngIf="f?.institution?.errors?.required">Institution is required.</div>

                </div>
                </div>

                    <!--Major Field of Study-->
                    <div class="form-group mb-3">
                        <label for="field_study" class="text-secondary">Major Field of Study <span class="text-danger">*</span></label>
                        <input type="text" name="field_study" required formControlName="field_study" class="form-control primary-border"
                            [ngClass]="{ 'is-invalid': submitted && f?.field_study?.errors, 'danger-border': submitted && f?.field_study?.errors }">

                        <div *ngIf="submitted && f?.field_study?.errors" class="invalid-feedback">
                            <div *ngIf="f?.field_study?.errors?.required">Major field of study is required.</div>
                        </div>
                    </div>

                    <!--Specialization-->
                    <div class="form-group mb-3">
                        <label for="specialization" class="text-secondary">Cellphone Number <span class="text-danger">*</span></label>
                        <input type="text" name="specialization" required formControlName="specialization" class="form-control primary-border"
                            [ngClass]="{ 'is-invalid': submitted && f?.specialization?.errors, 'danger-border': submitted && f?.specialization?.errors }">

                        <div *ngIf="submitted && f?.specialization?.errors" class="invalid-feedback">
                            <div *ngIf="f?.specialization?.errors?.required">Specialization is required.</div>
                        </div>
                    </div>

                    <small style="margin-top: 50px; color: #fcb017;" >LANGUAGE CAPABILITIES</small>
                    <!--description-->
                    <div class="form-group mb-3">
                        <label for="language_description" class="text-secondary">Description <span class="text-danger">*</span></label>
                        <textarea name="language_description" rows="3" required formControlName="language_description" class="form-control primary-border"
                            [ngClass]="{ 'is-invalid': submitted && f?.language_description?.errors, 'danger-border': submitted && f?.language_description?.errors }"></textarea>
  
                        <div *ngIf="submitted && f?.language_description?.errors" class="invalid-feedback">
                            <div *ngIf="f?.language_description?.errors?.required">Please tell us about your language capabilities.</div>
                            <div *ngIf="f?.language_description?.errors?.minlength">Min limit is 10 characters.</div>
                        </div>
                    </div>


  
                    <!--SUBMIT-->
                    <div class="form-group mb-2">
                        <button [disabled]="loading || btnWait" class="btn btn-login btn-primary btn-block mt-4 py-3" ><span *ngIf="!loading" style="font-size: 2rem;">Submit Form</span>
                        <div *ngIf="loading" class="spinner-border text-white" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        </button>
                    </div>
                    <div class="text-center ">By clicking this button, you agree to our <a [routerLink]="['/terms']" target="_blank" class="acolor"><span class="f4">Terms and Conditions</span></a></div>
  
                </form>
            </div>
        </div>
  
        <!--IMAGE-->
        <div class="col col-0 col-lg-5 col-xl-4 col-override p-0" style="min-height: 100vh;">
            <div class="landing-pic d-none d-lg-block d-xl-block"></div>
        </div>
    </div>
  </div>
  
  
  